@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-bg: 8 11 16;
	--color-border: 63 81 108;
	--color-primary: 36 196 255;
	--color-text-primary: 236 245 255;
}

@layer base {
	html,
	body {
		min-height: 100%;
		background-color: rgb(var(--color-bg));
		color: rgb(var(--color-text-primary));
	}

	html {
		margin: 0;
		padding: 0;
	}

	body {
		margin: 0;
		overflow-x: hidden;
	}
}

.safe-area-inset-bottom {
	padding-bottom: env(safe-area-inset-bottom, 0);
}

.safe-area-inset-top {
	padding-top: env(safe-area-inset-top, 0);
}
